@charset "UTF-8";

/* ------------------ Navigation Bar ------------------ */
* {
	box-sizing: border-box;
}

/* body {
	margin: 0;
	height: 100%;
} */

.navbar-logo {
	padding-left: 10px;
	text-shadow: 2px 2px 4px #000000;
	color: white;
	text-align: left;
	align-items: flex-start;
	flex: 30%;
}

.navbar {
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */
	background-color: #990000;
	/* background-image: linear-gradient(to right, #9E768F, #9FA4C4); */
	color: #FFC72C;
	height: 65px;
	/* padding: 1em; */
	font-weight: bolder;
	font-size: 25px;
}

.navbar-menu li:hover {
	color: white;
	cursor: pointer;
}

.navbar-menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;

	justify-content: flex-end;
	flex: 30%;
}

.navbar-menu>li {
	margin: 0 1rem;
	overflow: hidden;
}

.navbar-menu li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: normal;
}

.navbar-menu>li a:hover {

	color: #FFC72C;

}

.quiz-info-table {
	position: relative;
	left: 5%;
	width: 90%;
}

span.quiz-name {
	padding-bottom: 30px;
	font-weight: bolder;
	font-size: xx-large;
}

span.quiz-description {
	padding-bottom: 10px;
	/* font-weight: bolder;  */
	font-size: medium;
}
.quiz-container {
	padding-bottom: 5em;
}

.questions-container {
	padding-bottom: 5em;
}

/*---------- Table -------*/
#quiz-questions-table {
	position: relative;
	left: 5%;
	width: 90%;
}

.question-no-col {
	width: 10%;
}

.question-description-col {
	width: 40%;
}

.question-answers-col {
	width: 50%;
}


#quiz-questions-table tr {
	padding: 2em;
	/* border: 1px solid; */

}

#quiz-questions-table td {
	padding: 2em;
	border: 1px solid;
}



.questions-container .button-wrapper {
	position: relative;
	left: 5%;
	width: 90%;
	text-align: center;
	margin-top: 3em;
	text-align: center;
	font-size: 16px;

}

.questions-container .button-wrapper button {
	position: relative;
	width: 96%;
	padding: 2%;
	padding-bottom: 3em;
	font-size: 1.4em;
	display: block;
	font-size: 1.4em;
	/* font-family: optima; */
	cursor: pointer;
	background-color: #990000;
	color: white;


}

modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
	height: 100vh;
	background-color: black;
	opacity: 0.7;
}

.modal-window {
	position: fixed;
	margin-top: 10em;
	padding: 2%;
	width: 56%;
	left: 20%;
	z-index: 4;
	background: white;
}

.modal-window h1 {
	position: relative;
	margin: 0;
	margin-bottom: 1em;
	font-size: 2.1em;
	font-weight: bold;
	display: block;
}

.modal-window img {
	position: relative;
	height: 15em;
	margin-bottom: 2em
}

.modal-window .desc {
	position: relative;
	display: block;
	font-size: 1.4em;
}